<li class="divider"></li>
<li><a href="/">Главная страница<i class="material-icons">exit_to_app</i></a></li>
<li><a href="/print">Отчет<i class="material-icons">local_printshop</i></a></li>
<li><a href="/stat">Статистика<i class="material-icons">info</i></a></li>
<li><a href="/allstat">Общая статистика<i class="material-icons">info</i></a></li>
<li class="divider"></li>
<!--
<li><a href="/new">Добавить новость<i class="material-icons">control_point</i> </a></li>  
<li><a href="/doc">Документы<i class="material-icons">description</i></a></li>
<li class="divider"></li>
{{#if_eq auth 3}}
<li><a href="/send">Отправить<i class="material-icons">send</i></a></li> 
<li class="divider"></li>
{{/if_eq}}
<li><a href="/stat">Статистика<i class="material-icons">data_usage</i></a></li> 
<li><a href="/story">История<i class="material-icons">history</i></a></li> 
<li><a href="/manual">Инструкции<i class="material-icons">insert_drive_file</i></a></li> 
<li class="divider"></li>
<li><a class="modal-trigger" href="#modal2" name="Err">Сообщить об ошибке<i class=" material-icons">error_outline</i></a></li>
 -->
