<div class="container">
    <div class="row">
        {{#each conts}}  
        <a href="/ans?id={{id}}" class="text col s12 m5">
        <h4 class="center">{{ask}}</h4>
        <hr />
        <p>{{ans}}</p>
        <h6 class="center">{{nick}}</h6>
        </a>
        {{/each}}
    </div>
    
</div>