<div class="container">
    <div class="row">
    <form class="col s12">
        <div class="row">
        <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Ваш ник</label>
        </div>   
        <div class="input-field col m12 s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Задайте свой вопрос</label>
        </div>
        <div class="input-field col m4 s12">
                <button id="sendask" class="btn-small waves-effect waves-light">
                    <i class="material-icons right">send</i> Отправить</button>
        </div>
        
        </div>
    </form>
    <div class="row">
        {{#each conts}}  
        <div class="text col s12 m5">
        <h4 class="center">{{ask}}</h4>
        <hr />
        <p>{{ans}}</p>
        <h6 class="center">{{nick}}</h6>
        </div>
        {{/each}}

    </div>
    </div>
</div>
<script>
    $( "#sendask" ).click(function() {
      event.preventDefault();
      if ($( "#textarea1" ).val()!='' && $( "#last_name" ).val()!=''){
        $.get( "/add", {nick:$( "#last_name" ).val(),ask: $( "#textarea1" ).val()} ).done(function( data ) {
           console.log( "Data Loaded: " + data );
            if (data=='ok'){
            M.toast({html: 'Успешно! Ответ появится на этой странице', classes: '#26a69a teal lighten-1 rounded'});
          $( "#textarea1" ).val('')
           // reload(true);
          } else {
            M.toast({html: 'Ошибка!', classes: '#ef5350 red lighten-1 rounded'});
          }
        })
      } else{
         M.toast({html: 'Заполните все поля!', classes: '#ef5350 red lighten-1 rounded'});
      }
    })
</script>


    
